.tooltip {
    position: absolute;
    z-index: 1;
    bottom: calc(100% + 10px);
    transform: translate(-50%, 0%);
}

.hidden {
    display: none;
}

.content {
    padding: 9px;
    background: #000000;
    border-radius: 3px;
    width: 100%;
    color: #fff;
    font-size: 12px;
    text-align: center;
}

.tooltipCursor::after {
    content: '';
    position: absolute;
    left: 50%;
    bottom: -18px;
    border: 10px solid transparent;
    border-top: 10px solid #000000;
}